.inicioimg1{
    @include alto-ancho(auto, 80%);
}

.iniciop1{
    @extend .parrafos;
    font-size: $altura-p-index;
    line-height: 2.5rem;
    padding: 2rem;
}

.iniciop2{
    @extend .parrafos;
    font-size: $altura-p-index;
    line-height: 2.5rem;
    color: $color-p2-index;
    padding-top: 1.5rem;
    text-align: center;
}
