.nosotrosVideo1{
    background-color: $color-fondo-imagenes;
    @include alto-ancho(auto, 80%);
    padding: 5%;
    margin-left: 2rem;
    margin-right: 2rem;
}  

.nosotrosImg1{
    background-color: $color-fondo-imagenes;
    @include alto-ancho(auto, 80%);
    padding: 5%;
    margin: 2rem;
}  

.nosotrosImg2{
    background-color: $color-fondo-imagenes;
    @include alto-ancho(auto, 80%);
    padding: 5%;
    margin: 2rem;
}  

.nosotrosImg3{
    background-color: $color-fondo-imagenes;
    @include alto-ancho(auto, 80%);
    padding: 5%;
    margin: 2rem;
}  

.nosotrosP1{
    @extend .parrafos;
    font-size: $altura-p-nosotros;
    margin-right: 1rem;
    margin-left: 1rem;
}