.carrusel{
    background-color: rgb(204, 217, 156);
    padding: 2%;
    margin-bottom: 2rem;
}

.campeonesP1{
    @extend .parrafos;   
    font-size: $altura-p-campeones;
    margin-right: 1rem;
    margin-left: 1rem;
}

.campeonesTitulo{
    font-family: $fuente-t-campeones;
    font-weight: $espesor-t-campeones;
    font-size: $altura-t-campeones;
    color: $color-t-campeones;
    margin-bottom: 1rem;
}