*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

.contenido{
    background-image: $color-fondo;
}

.titulos{
    font-family: map-get($titulos, fuente);
    font-weight: map-get($titulos, espesor);
    font-style: map-get($titulos, estilo);
    font-size: map-get($titulos, altura);
    letter-spacing: map-get($titulos, letter-spacing);
    text-decoration: map-get($titulos, decoration);
    color: map-get($titulos, color);
    padding: map-get($titulos, padding);
}