.inicioimg1{
    width: 100%;
}

.iniciop1{
    font-family: $fuente-p-index;
    font-weight: $espesor-p-index;
    text-align: justify;
    font-size: $altura-p-index;
    line-height: 2.5rem;
    color: $color-p1-index;
}

.iniciop2{
    font-family: $fuente-p-index;
    font-weight: $espesor-p-index;
    font-size: $altura-p-index;
    line-height: 2.25rem;
    color: $color-p2-index;
    padding-top: 1.5rem;
}
