.inicioP{
    @extend .parrafos;
    font-size: $altura-p-index;
    line-height: 2.5rem;
    padding: 2rem;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.bckImg{
    background-image: url("../assets/images/IndexImgFondo.JPG");
    background-size: cover;
    background-position: center;
}