.nosotrosVideo1{
    justify-self: right;
    align-self: flex-end;
    @include alto-ancho(auto, 80%);
    padding: 5%;
    background-color: rgb(200, 245, 240);
}  

.nosotrosImg1{
    justify-self: left;
    align-self: flex-start;
    @include alto-ancho(auto, 80%);
    padding: 5%;
    background-color: $color-fondo-imagenes;
}  

.nosotrosImg2{
    justify-self: center;
    align-self: flex-end;
    @include alto-ancho(auto, 80%);
    padding: 5%;
    background-color: $color-fondo-imagenes;
}  

.nosotrosImg3{
    justify-self: left;
    align-self: flex-end;
    @include alto-ancho(auto, 80%);
    padding: 5%;
    background-color: $color-fondo-imagenes;
}  

.nosotrosP1{
    @extend .parrafos;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: $altura-p-nosotros;
    line-height: 3rem;
}

.nosotrosP2{
    @extend .parrafos;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: $altura-p-nosotros;
    line-height: 3rem;
}