.tipsListaTexto{
    @extend .parrafos;
    font-size: $altura-p-tips;
    line-height: 2.5rem;
}

.tablaVacunacion{
    background-color: rgb(223, 239, 222);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tablaDesparacitacion{
    background-color: rgb(222, 239, 238);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.titulosTablas{
    font-family: $fuente-t-tablas;
    font-weight: $espesor-t-tablas;
    font-size: $altura-t-tablas;
    color: $color-t-tablas;
}

.carouselTYMsuperior{
    @include alto-ancho(auto, 90%);
}

.carouselTYMinferior{
    @include alto-ancho(auto, 90%);
    margin-bottom: 2rem;
}