.pie{
    background-color: $color-fondo-footer;
    opacity: 0.8;
}

.encabezadoLogosLinks{
    height: 2rem;
    &:hover{
        transform: scale(1.5);
    }
}

.pieLogosLinks{
    height: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.pieLogos{
    padding-bottom: 1rem;
    &:hover{
        transform: scale(1.25);
    }
}

.pieSegcont{
    font-family: $fuente-footer;
    font-weight: $espesor-footer;
    font-size: $altura-texto-footer;
    color: $color-texto-footer;
    padding: 0.5rem;
}

.pieCopy{
    font-family: $fuente-footer;
    font-weight: $espesor-footer;
    font-size: $altura-texto-footer;
    color: $color-texto-footer;
}

.nav-pie{
    font-family: $fuente-footer;
    font-size: $altura-texto-footer;
    line-height: 0.5rem;
    color: $color-texto-footer;
}

.pieMapa{
    width: 50%;
    height: 7rem;
}   