.pieLogosLinks{
    margin-bottom: 1rem;
    color: rgb(217, 126, 74);
    &:hover{
        transform: scale(1.25);
    }
}

.pieCopy{
    font-family: $fuente-footer;
    font-weight: $espesor-footer;
    font-size: $altura-texto-footer;
    color: $color-texto-footer;
} 

.logoFCA{
    margin-top: 0.75rem;
    height: 3rem;
}

.textoFCA{
    margin-top: 0.25rem;
    font-family: $fuente-footer;
    font-weight: bold;
    font-size: $altura-texto-footer;
    color: $color-texto-footer;
}