.pieLogosLinks{
    color: $color-redes;
    margin-bottom: 1rem;
    &:hover{
        transform: scale(1.25);
    }
}

.pieCopy{
    font-family: $fuente-footer;
    font-weight: $espesor-footer;
    font-size: $altura-texto-footer;
    color: $color-texto-footer;
} 

.logoFCA{
    height: $altura-FCA;
    margin-top: 0.75rem;
}

.textoFCA{
    font-family: $fuente-footer;
    font-weight: bold;
    font-size: $altura-texto-footer;
    color: $color-texto-footer;
    margin-top: 0.25rem;
}