.encabezadoIcono{
    height: $altura-logo;
    animation-duration: $duracion-aparecer-logo;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

@keyframes aparecer{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.navbar-collapse{
    justify-content: flex-end;
    align-self: flex-end;
}

.texto-nav{
    font-family: $fuente-nav;
    font-weight: $espesor-nav;
    font-size: $altura-texto-nav;
    padding-left: 1rem;
    padding-right: 1rem;
    &:hover{
        background-color: rgb(217, 126, 74);
        border-radius: 15px
    }
}