.encabezadoIcono{
    height: $altura-logo;
    animation-duration: $duracion-aparecer-logo;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

@keyframes aparecer{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.navbar-collapse{
    justify-content: flex-end;
    align-self: flex-end;
}

.bg{
    background-color: $color-fondo-header;
}

.texto-nav{
    font-family: $fuente-nav;
    font-weight: $espesor-nav;
    font-size: $altura-texto-nav;
    color: $color-texto-nav;
    padding: 0.5rem;
    &:hover{
        background-color: rgb(0, 251, 255);
    }
}

.navLogos{
    position: absolute; top:1rem; right: 1rem;
    width: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.encabezadoLogosLinks{
    height: 2rem;
    &:hover{
        transform: scale(1.5);
    }
}