/*Map de titulos*/
$titulos:(
    fuente: ('Roboto', sans-serif),
    estilo: italic,
    espesor: bold,
    color: rgb(53, 82, 53),
    altura: 2rem,
    letter-spacing: 0.2rem,
    decoration: underline,
    padding: 1rem,
)