/*Map de titulos*/
$titulos:(
    fuente: ('Roboto', sans-serif),
    estilo: italic,
    espesor: bold,
    color: rgb(248, 241, 238),
    altura: 2.4rem,
    letter-spacing: 0.15rem,
    padding: 2rem,
)