/*Variables*/

/*Variables fondo de contenido*/
$color-fondo: rgb(204, 217, 156);

/*Variables de Logo*/
$altura-logo: 5.25rem;
$duracion-aparecer-logo: 5s;

/*Variables del Nav*/
$fuente-nav: 'Roboto', sans-serif;
$espesor-nav: bold;
$altura-texto-nav: 1rem;

/*Variables del Footer*/
$fuente-footer: 'Inter', sans-serif;
$espesor-footer: light;
$color-texto-footer: rgb(115, 140, 90);
$altura-texto-footer: 1rem;

/*Variables de contenido index*/
$altura-p-index: 1.5rem;

/*Variables de contenido Nosotros*/
$color-fondo-imagenes: rgb(204, 217, 156);
$altura-p-nosotros: 1.25rem;

/*Variables de contenido Nuestros Campeones*/
$altura-p-campeones: 1.25rem;
$fuente-t-campeones: 'Roboto', sans-serif;
$espesor-t-campeones: bold;
$altura-t-campeones: 1.25rem;
$color-t-campeones: rgb(89, 18, 2);

/*Variables de contenido Nuestros Contacto*/
$altura-p-contacto: 1.25rem;

/*Variables de contenido Tips y mas*/
$altura-p-tips: 1.25rem;
$fuente-t-tablas: 'Roboto', sans-serif;
$espesor-t-tablas: bold;
$altura-t-tablas: 1.75rem;
$color-t-tablas: rgb(53, 82, 53);