/*Variables*/
/*Variables fondo de contenido*/
/*Variables de Logo*/
/*Variables del Nav*/
/*Variables del Footer*/
/*Variables de contenido index*/
/*Variables de contenido Nosotros*/
/*Variables de contenido Nuestros Campeones*/
/*Variables de contenido Nuestros Contacto*/
/*Variables de contenido Tips y mas*/
/*Map de titulos*/
.parrafos, .inicioP, .nosotrosP1, .campeonesP1, .tipsListaTexto, .contactoP1 {
  font-family: 'Inter', sans-serif;
  text-align: justify;
  color: white;
  line-height: 2rem; }

* {
  margin: 10;
  padding: 0;
  box-sizing: border-box; }

.page {
  background-color: #ccd99c; }

.head {
  min-height: 15vh; }

.contenido {
  min-height: 71vh;
  background-color: #738c5a; }

.pie {
  min-height: 14vh; }

.titulos {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2.4rem;
  letter-spacing: 0.15rem;
  color: #f8f1ee;
  padding: 2rem;
  text-shadow: 2px 2px 2px black; }

.encabezadoIcono {
  height: 5.25rem;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.navbar-collapse {
  justify-content: flex-end;
  align-self: flex-end; }

.texto-nav {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; }
  .texto-nav:hover {
    background-color: #d97e4a;
    border-radius: 15px; }

.pieLogosLinks {
  color: #d97e4a;
  margin-bottom: 1rem; }
  .pieLogosLinks:hover {
    transform: scale(1.25); }

.pieCopy {
  font-family: "Inter", sans-serif;
  font-weight: light;
  font-size: 0.8rem;
  color: #738c5a; }

.logoFCA {
  height: 3rem;
  margin-top: 0.75rem; }

.textoFCA {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  color: #738c5a;
  margin-top: 0.25rem; }

.inicioP {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 2rem;
  text-shadow: 2px 2px 2px black; }

@media only screen and (min-width: 768px) {
  .bckImg {
    background-image: url("../assets/images/IndexImgFondo.png");
    background-size: cover;
    background-position: center; } }

@media only screen and (max-width: 768px) {
  .bckImg {
    background-image: url("../assets/images/IndexImgFondoMobile.png");
    background-size: cover;
    background-position: center; } }

.nosotrosVideo1 {
  background-color: #ccd99c;
  height: auto;
  width: 80%;
  padding: 5%;
  margin-left: 2rem;
  margin-right: 2rem; }

.nosotrosImg1 {
  background-color: #ccd99c;
  height: auto;
  width: 80%;
  padding: 5%;
  margin: 2rem; }

.nosotrosImg2 {
  background-color: #ccd99c;
  height: auto;
  width: 80%;
  padding: 5%;
  margin: 2rem; }

.nosotrosImg3 {
  background-color: #ccd99c;
  height: auto;
  width: 80%;
  padding: 5%;
  margin: 2rem; }

.nosotrosP1 {
  font-size: 1.25rem;
  margin-right: 1rem;
  margin-left: 1rem; }

.carrusel {
  background-color: #ccd99c;
  padding: 2%;
  margin-bottom: 2rem; }

.campeonesP1 {
  font-size: 1.25rem;
  margin-right: 1rem;
  margin-left: 1rem; }

.campeonesTitulo {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: #591202;
  margin-bottom: 1rem; }

.tipsListaTexto {
  font-size: 1.25rem; }

.tablaVacunacion {
  background-color: #dfefde;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.tablaDesparacitacion {
  background-color: #deefee;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.titulosTablas {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #591202; }

.carouselTYMsuperior {
  height: auto;
  width: 90%; }

.carouselTYMinferior {
  height: auto;
  width: 90%;
  margin-bottom: 2rem; }

.contactoP1 {
  font-size: 1.25rem; }
