*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezadoIcono{
    height: 10rem;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

@keyframes aparecer{ /*animacion para aparecer logo al comienzo*/
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.navbar-collapse{
    justify-content: flex-end;
    align-self: flex-end;
}

.bg{
    background-color: rgb(208, 233, 232);
}

.texto-nav{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(10, 155, 17);
    background-color: whitesmoke;
    border: rgb(123, 220, 123) 0.1rem solid;
    padding: 0.5rem 1rem;
}

.navLogos{
    position: absolute; top:1rem; right: 1rem;
    width: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pie{
    background-color: rgb(155, 225, 155);
    opacity: 0.8;
}

.encabezadoLogosLinks{
    height: 2rem;
}

.encabezadoLogosLinks:hover{ /*animacion para escalar logos de redes sociales al pasar el mouse*/
    transform: scale(1.5);
}

.pieLogosLinks{
    height: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.pieLogos{
    padding-bottom: 1rem;
}

.pieLogosLinks:hover{ /*animacion para escalar logos de redes sociales al pasar el mouse*/
    transform: scale(1.25);
}

.pieSegcont{
    font-family: 'Inter', sans-serif;
    font-weight: light;
    font-size: 1.25rem;
    color: aliceblue;
    padding: 0.5rem;
}

.pieCopy{
    font-family: 'Inter', sans-serif;
    font-weight: light;
    font-size: 1rem;
    color: aliceblue;
}

.nav-pie{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 0.5rem;
    color: rgb(225, 140, 21);
}

.pieMapa{
    width: 50%;
    height: 7rem;
}   

.contenido{
    background-image: linear-gradient(rgb(238, 232, 213),rgb(255, 255, 255));
}

.titulos{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-decoration: underline;
    color: rgb(53, 82, 53);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.inicioimg1{
    width: 100%;
}

.iniciop1{
    font-family: 'Inter', sans-serif;
    font-weight: light;
    text-align: justify;
    font-size: 1.75rem;
    line-height: 2.5rem;
    color: rgb(187, 99, 99);
}

.iniciop2{
    font-family: 'Inter', sans-serif;
    font-weight: light;
    font-size: 1.75rem;
    line-height: 2.25rem;
    color: rgb(45, 149, 168);
    padding-top: 1.5rem;
}

.nosotrosVideo1{
    justify-self: right;
    align-self: flex-end;
    height: auto;
    width: 80%;
    padding: 5%;
    background-color: rgb(200, 245, 240);
}  

.nosotrosImg1{
    justify-self: left;
    align-self: flex-start;
    height: auto;
    width: 80%;
    padding: 5%;
    background-color: rgb(200, 245, 240);
}  

.nosotrosImg2{
    justify-self: center;
    align-self: flex-end;
    height: auto;
    width: 80%;
    padding: 5%;
    background-color: rgb(200, 245, 240);
}  

.nosotrosImg3{
    justify-self: left;
    align-self: flex-end;
    height: auto;
    width: 80%;
    padding: 5%;
    background-color: rgb(200, 245, 240);
}  

.nosotrosP1{
    align-self: flex-start;
    justify-self: flex-start;
    font-family: 'Inter', sans-serif;
    font-weight: light;
    font-size: 1.5rem;
    line-height: 3rem;
    color: rgb(187, 99, 99);
}

.nosotrosP2{
    align-self: flex-start;
    justify-self: flex-start;
    font-family: 'Inter', sans-serif;
    font-weight: light;
    font-size: 1.5rem;
    line-height: 3rem;
    color: rgb(187, 99, 99);
}
